* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Sans-serif;
  background-color: #222;
  color: #bbb;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}

header, main, footer {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 320px;
  max-width: 480px;
  padding: 10px;
  margin: 0;
}

/* Header */
header {
  font-size: 17px;
}
header .title {
  font-size: 21px;
  text-align: center;
}
header .configs {
  display: flex;
  flex-direction: row;
}
header .configs div {
  flex: 1 0 50%;
  text-align: center;
}
#min-number, #max-number {
  min-width: 10px;
  width: 100%;
  text-align: center;
  border: 0 none;
  background-color: transparent;
  font-size: 19px;
  color: #fff;
}

/* Main */

/* Prime numbers list */
#prime-numbers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.prime-numbers-list div {
  flex: 0 0 20%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
}
.prime-numbers-list div span:hover {
  cursor: pointer;
}

/* Footer */
footer {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
footer .copyright {
  flex: 1 0 20%;
  opacity: 0.7;
}
